.galeria {
	background-color: #2475B3;
	padding: 15px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.galeria-url-imagen {
	width: 150px;
	height: 100px;
	margin: 15px;
}

.galeria-url-imagen:hover {
	opacity:0.4;
}