.App {
	background-color: #104561;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.botones input {
	width: 100px;
	height: 40px;
	margin: 15px;
	background-color: #0E759B;
	border-radius:7px;
	border: none;
	cursor: pointer;
}

.botones input:hover {
	background-color: #1793C0;
}

@media screen and (max-width: 750px){
	.App {
	background-color: #104561;
	display: flex;
	flex-direction: column;
	align-items: center;
}
}